.experience {
    margin: 5% 10%;

    .experience-header {
        .experience-title {
            font-size: 32px;
        }
    }

    .experience-container {
        margin: 2.5% 0;

        .experience-list {
            list-style-type: none;
            width: fit-content;

            .experience-item {
                margin: 4% 0;

                .job-header-container {
                    font-size: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .job-header {
                        .link {
                            position: absolute;
                            text-decoration: none;
                            color: inherit;
                            margin-left: 1rem;

                            .icon {
                                background-color: rgb(56, 44, 89);
                                padding: 0.5rem;
                                border-radius: 0.5rem;

                                &:hover {
                                    background-color: rgb(82, 77, 98);
                                }
                            }
                        }
                    }

                    .job-date {
                        font-size: 20px;
                        color: rgb(184, 179, 179);
                    }
                }

                .tech-container {
                    margin: 1% 1%;

                    .tech {
                        color: lightblue;
                    }
                }

                .job-container {
                    .job-list {
                        list-style-type: "📌";

                        .job-item {
                            vertical-align: middle;
                            margin: 2.5% 0;
                        }
                    }
                }
            }
        }
    }
}