@import '../../common-css/fonts.scss';
@import '../../common-css/animation.scss';

.default {
    padding-top: 5%;
    margin: 0 10%;

    .title-container {
        height: fit-content;

        .section-title {
            font-size: 32px;
            margin: 2.5% 0;
        }
    }

    .text-container {
        height: fit-content;
        margin: 4% 0;

        .content {
            font-weight: 300;
            font-size: 28px;
        }
    }

    .line {
        display: block;
        border-bottom: solid 2px white;
    }

}