@import "../section.scss";
@import "../../common-css/colors.scss";

.about-me {
    height: 800px;

    .wrapper {
        border-top: 2rem solid gray;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 800px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        border-radius: 20px;
        background-color: $blue;
    }

    .subheader {
        padding: 1%;
    }

}