@import '../common-css/fonts.scss';

$header-color: rgb(255, 255, 255);

.header {
    color: $header-color;
    margin-left: 2.5rem;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
}

.line {
    display: block;
    border-bottom: solid 1px $header-color;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
}

.transition {
    transform: scaleX(1);
}